body {
    padding-top: 90px;
    padding-bottom: 20px;
}
/*Global Styles*/
li { 
    list-style:none;
}
.voffset-1 {
    margin-top: 20px;
}
.voffset-2 {
    margin-top: 40px;
}
.voffset-3 {
    margin-top: 60px;
}
.voffset-4 {
    margin-top: 80px;
}
.voffset-5 {
    margin-top: 100px;
}
.voffset-6 {
    margin-top: 110px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
span.field-validation-error {
    color: #6e0f0f;
    font-weight: bold;
    font-size:15px;
    font-family:Arial
}

/*  Bootstrap Overrides  */
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
    border-bottom:1px #FFF;
}

.navbar-inverse .navbar-nav > li > a { 
color:#FFF; 
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.btn {
    -ms-border-radius: 9px;
    border-radius: 9px;
}
.navbar-inverse .navbar-nav > .open > a:focus{
    color: #fff;
    background-color: #c93737;
}

.form-control {
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*  Page level styles  */
.gigs {
    list-style: none;
}   
.gigs > li {
    position: relative;
    margin-bottom: 40px;
}
.gigs > li .date {
    background-color: #f00;
    color: #fff;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.gigs > li .date .month{ 
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    padding:2px 6px;
}
.gigs > li .date .day {
    background-color:#f7f7f7;
    color:#333;
    font-size:20px;
    padding:6px 12px;
}   
.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
} 

.gigs >li .details .artist { 
    font-weight:bold;
    display:block;
}

.gigs > li .details .genre {
    font-size: 15px;
    color: #7a5e5e;
    display:inline-block;
    margin:5px 20px 0 0 ;

}
.gigs > li .actions {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .actions {
    display: block;
}